nav div {
    display: inline-block;
}

nav div img {
    position: relative;
    left: 90px;
    top: 20px;
}

.list {
    margin-left: 90px;
}

.list-item:hover {
    color: #000000;
    cursor: pointer;
}

.list-item {
    display: inline;
    margin: 10px;
    color: #54544e;
    font-size: 18px;
    /* background-color: bisque; */
}

nav div button {
    /* : right; */
    /* display:inline; */
    font-family: Poppins;
    position: relative;
    left: 500px;
    border: none;
    width: 120px;
    height: 40px;
    color:#fff;
    border-radius: 9px;
    background-color: #5946c5;
}
.banner-container{
    /* background-color: aqua; */
    margin-left: 90px;
    
} 

.heading-text{
    font-family: Poppins;
    color:#1a0d67;
    font-size: 70px;
    font-weight: 600;
    width: 500px;
    line-height: 120%;
    margin-top: 130px;
    /* background-color: aqua; */
}
.heading-text span{
    color:#5946c5;
}
.description{
    font-family:Poppins;
    color: #54544e;
    width: 500px;
    margin-top: -30px;
}
section div div button{
font-family: Poppins;
position: relative;
left: 5px;
top:30px;
border: none;
width: 200px;
height: 50px;
color:#fff;
border-radius: 14px;
font-size: 15px;
background-color: #5946c5;
}
.container{
    /* position: relative; */
}
.banner-container div:last-child img{
    display: inline-block;
    position: absolute;
    bottom:0px;
    right:0px;
    width: 800px;
} 
/* img{
    width: 10%;
} */